@import '../../../../docs/css/mixin.scss';

.contactMainWrap {
    background: #fff;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.06);

    .contactSidebar {
        .searchContact {
            background: #ebedfb;
            border-bottom: 1px solid #f1f1f1;

            div {
                height: 70px;

                &::before,
                &::after {
                    display: none;
                }

                input {
                    padding: 0 20px;

                    &::placeholder {
                        opacity: 1;
                    }
                }
            }

            .searchContactIcon {
                width: 70px;
                margin-left: 0;
                justify-content: center;

                i {
                    cursor: pointer;
                }
            }
        }

        .contactScrollBar {
            height: 710px;

            .contactScrollBarContent {
                .contactTabWrapper {
                    .contactTabItems {
                        .contactTabItem {}
                    }

                    .contactTabItem {
                        max-width: 100%;
                        opacity: 1;
                        padding: 10px 15px;
                        border: 1px solid rgba(152, 166, 173, .07);
                        margin-top: -1px;

                        span {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            text-transform: capitalize;
                            font-weight: 400;
                            font-size: 14px;

                            &.contactThumbImg {
                                margin-bottom: 0;
                                margin-right: 15px;

                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                            }
                        }

                        &[aria-selected="true"] {
                            background: #f0f1fb;
                            color: $baseColor;
                        }
                    }

                    .contactIndicator {
                        display: none;
                    }
                }
            }
        }
    }
}

.contactListHeader {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px 20px;
    background: #ebedfb;
    border-left: 1px solid rgba(152, 166, 173, .2);
    border-bottom: 1px solid #f1f1f1;
    flex-wrap: wrap;

    h3 {
        margin-bottom: 0;
    }
}

.contactContent {
    padding: 50px;
    overflow: hidden;

    @media (max-width:767px) {
        padding: 50px 20px;
    }

    @media (max-width:1600px) {
        text-align: center;
    }

    .contactImage {
        float: left;
        margin-right: 30px;

        @media (max-width:1600px) {
            float: none;
            margin-right: 0;
            margin-bottom: 30px;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 3px solid rgba(152, 166, 173, .3);
        }
    }

    .contactInfo {
        overflow: hidden;

        h3 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            text-transform: capitalize;
        }

        ul {
            li {
                font-weight: 600;
                font-size: 14px;
                display: flex;
                align-items: center;
                line-height: 30px;
                text-transform: capitalize;
                flex-wrap: wrap;

                @media (max-width:1600px) {
                    justify-content: center;
                }

                span {
                    font-weight: 400;
                    font-size: 14px;

                    &::before {
                        content: ":";
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
}