.alert {
    padding: 15px 15px;
    margin-bottom: 5px;
    background: #e5e5e5;
    border-radius: 3px;
    color: #fff;
    position: relative;
    padding-right: 40px;

    .close {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;

        span {
            color: #fff !important;
        }

        &:focus {
            outline: none;
        }
    }

    a {
        &.alert-link {
            font-size: 14px;
            color: #fff !important;
            font-weight: 600;

            &:hover {
                opacity: .8;
            }
        }
    }
}