.modalWrapper {

    .modalTitle {
        background: #fafafa;
        padding: 20px 30px;

        h3 {
            margin-bottom: 0;
        }
    }

    .modalBody {
        padding: 30px;

        p {
            margin: 0;
        }
    }

    .modalFooter {
        display: flex;
        justify-content: flex-end;
        padding: 20px 30px;
        border-top: 1px solid #f1f1f1;
        flex-wrap: wrap;

        button {
            margin-left: 10px;
            padding: 10px 30px;
            text-transform: capitalize;

            @media (max-width:500px) {
                margin-bottom: 5px;
            }

            span {
                color: #fff !important;
            }
        }
    }
}

.modalB {
    padding: 10px 25px !important;
}