
.signupArea{
    width: 100%;
    @media (max-width:1100px) {
        padding: 80px 0px;
    }
    @media (max-width:767px) {
        padding: 48px 0px 80px;
    }
    .signupForm{
        width: 470px;
        margin: auto;
        padding: 50px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
        @media (max-width:500px) {
            width: 300px;
            padding: 50px 25px;
        }
        .fromTitle{
            text-align: center;
        }
    }
}